---
import Header from '../components/header.svelte';
const { content } = Astro.props;
const { title } = content;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/main.css')} />
    <title>{title} - AstroCMS</title>
  </head>

  <body>
    <Header />
    <main>
      <h1>{title || '-'}</h1>
      <a href="/">home</a>
    </main>
  </body>
</html>
