---
import CMS from '$/cms/index.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin - Cosmos</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <CMS styling={Astro.resolve('../../styles/main.css')} client:load />
  </body>
</html>
